---
- name: Create KubeVirt VM Snapshot
  hosts: localhost
  gather_facts: yes
  
  tasks:
    - name: Create KubeVirt snapshot
      ansible.builtin.include_role:
        name: ../roles/ocp_virt_snapshot
